hmtl, body {
    min-width: 300px;
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

#navbar {
    min-width: 280px;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #455A64;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    margin: 0;
}

#navbar header {
    margin-bottom: 1rem;
    border-bottom: 3px solid #ffffff;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#navbar ul li a {
    display: block;
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.8;
}

#navbar ul li a.current {
   color: darkorange;
}

#main-doc {
    position: absolute;
    margin: 1em;
    margin-left: calc(300px + 3em);
}

#main-doc header {
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 2px solid #000000;
}
#main-doc article {
    margin-bottom: 3rem;
}
#main-doc article h3 {
    font-size: 1.2rem;
    font-style: italic;
}

#main-doc article code {
    display: block;
    position: relative;
    padding: 2em;
    margin: 0.5em;
    background-color: #f7f7f7;
    line-height: 1.4;
    white-space: pre-wrap;
    text-align: left;
    word-break: normal;
    word-wrap: normal;
}

@media only screen and (max-width: 300px) {
    #navbar {
        position: static;
    }
    #main-doc {
        position: static;
        margin-left: 1em;
    }
    #main-dock article code {
        margin: 10px;
        padding: 10px;
        overflow: auto;
    }
}